
DB_URL= postgresql://postgres:password@localhost:5432/db_name
SECRET_KEY=b8c5f6e2f9a34a6d9e2c0d5b1f8a9c4e7b3f1d2a6e8f9c7d4b1a0
REFRESH_SECRET_KEY=b8c5f6e2f9a34a6d9e2c0d5b1f8a9c4e7b3f1d2a6e8f9c7d4b1a0
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440
REFRESH_TOKEN_EXPIRE_DAYS=7
